PORT="3000"
OVERPASS_URL="http://overpass-mock:1080/api/interpreter"
OSM_USER_AGENT="flight-tracker-osm-provider (+https://api.flights.barcz.me)"
OSM_FUNCTION_SECRET="generate-with-openssl-rand-hex-32"
LOG_LEVEL="debug"
